* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
}

.site-header {
    border: 2px solid red;
    display: flex;
    align-items: center;

    gap: 1rem;
}

.site-logo {
    img {
        width: 4rem;
    }
}

.main-content-site {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    gap: 1rem;
}

.weather-card {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;

    .current-conditions-container {
        border: 2px solid blue;
        display: flex;
        flex-direction: column;

        gap: 0.5rem;
    }
}

.api-image{
    max-height: 400px;
}

/* Loader Circle */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(275px, 100%);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    /* border-top: 4px solid #3498db; */
    border-top: 4px solid #34db3c;
    border-radius: 50%;
    width: clamp(6rem, 5vw, 12rem);
    height: clamp(6rem, 5vw, 12rem);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Styles for search buttons */
.search-button {
    background: rgb(0, 180, 0);
    border: 1px solid rgb(0, 180, 0);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1rem;
    min-height: 40px;
    outline: 0;
    padding: 0.625rem 0.75rem;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.search-button:hover,
.search-button:active {
    background-color: initial;
    background-position: 0 0;
    color: rgb(0, 180, 0);
}

.search-button:active {
    opacity: .5;
}