* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;

    background: #1c92d2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.site-header {
    display: flex;
    align-items: center;

    gap: 1rem;

    h1 {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
}

.site-logo {
    img {
        width: 4rem;
        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    }
}

.main-content-site {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    gap: 1rem;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 1rem;

    #query {
        border: none;
        border-radius: 15px;
        font-size: 1.1rem;
        padding: 0.1rem 0.5rem;
    }
}

.api-call-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.weather-card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    gap: 0.5rem;
    padding: 0.5rem;

    .current-conditions-container {
        display: flex;
        flex-direction: column;

        gap: 0.5rem;
    }
}

.api-image {
    max-height: 400px;
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Loader Circle */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(275px, 100%);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    /* border-top: 4px solid #3498db; */
    border-top: 4px solid #34db3c;
    border-radius: 50%;
    width: clamp(6rem, 5vw, 12rem);
    height: clamp(6rem, 5vw, 12rem);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Styles for search buttons */
.search-button {
    background: rgb(0, 0, 180);
    border: 1px solid rgb(0, 0, 180);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 1rem;
    min-height: 40px;
    outline: 0;
    padding: 0.625rem 0.75rem;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.search-button:hover,
.search-button:active {
    background-color: white;
    background-position: 0 0;
    color: rgb(0, 0, 180);
}

.search-button:active {
    opacity: .5;
}